@font-face {
    font-family: myriadpro;
    src: url(./Fonts/myriadpro-regular\ —\ копия.ttf);
}



html, body {
    font-family: myriadpro;
    font-size: 16px;     
}

body {
    max-width: 1281px;  
    margin: 0 auto 0 auto  
}

.title-container {     
    margin-top: 3.8125rem;   
    margin-bottom: 2.75rem;
} 

.a-title {
    color: black;
    text-decoration: none;    
}

.title:after {
    content: "mda.js";
    color: #4BCAFF;
}

.title {    
    font-size: 5rem;      
}

.nav {
    text-align: center;
    width: 80.0625rem;
    height: 4.375rem;
    font-size: 1.5rem;
    color: white;
    background-color:#35444F; 
    border: 1px solid #818181   
}

.nav-a:link {
    text-decoration: none;
}

.nav-a:active {
    color: white;
    text-decoration: none;

}

.nav-a:visited {
    color: white;
    text-decoration:none;
}


.fu {
    padding:  0 2.5rem  0 10rem;
    text-align: right;
    
}

.ra {
    padding: 0 2.5rem 0 2.5rem;
}
.fa {
    text-align: left;
    padding: 0 2.5rem 0 2.5rem;   
}

.no {
    padding: 0 11rem 0 2.5rem;
}

.fu:hover {
    background-color: #222F3A;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181; 
}

.ra:hover {
    background-color: #222F3A;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;   
}

.fa:hover {
    background-color: #222F3A;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;   
}

.no:hover {
    background-color: #222F3A;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;   
}

.menu {  
    float: left;
    color: #495863; 
    font-size: 1.875rem;
    margin-top: 3.1875rem;
    border: 1px solid #495863;
    width: 21.5rem; 
    height: 399px;   
}


.menu-td1 {
    padding: .8rem 0 0 2.5rem;
}

.menu-td2,.menu-td3,.menu-td4,.menu-td5 {
    padding: .25rem 0 .5rem 2.5rem;
}

.menu-td1:hover {
    padding-left: 4.3125rem;
    background-color: #DBDBDB;
    color: black;
}

.menu-td2:hover {
    padding-left: 4.3125rem;
    background-color: #DBDBDB;
    color: black;
}

.menu-td3:hover {
    padding-left: 4.3125rem;
    background-color: #DBDBDB;
    color: black;
}

.menu-td4:hover {
    padding-left: 4.3125rem;
    background-color: #DBDBDB;
    color: black;
}

.menu-td5:hover {
    padding-left: 4.3125rem;
    background-color: #DBDBDB;
    color: black;
}
    
.menu-a:link {
    
    text-decoration: none;
}
.menu-a:active {
    
    text-decoration: none;
}

.menu-a:visited {
    color: #495863;
    text-decoration: none;
}
.menu-a:visited:hover {
    color: black;
}

.img-container {   
    border: 1px solid #35444F;
    float: right;
    margin: 3.1875rem 0 0 3.1875rem;
    width: 55.125rem;
    height: 33.0625rem;    
}

.img {
    margin: 73px 0 0 18.125rem;
}

.text-1,.text-2 {
    font-size: 1.125rem;
    margin: 50px 40px 30px 40px;
    float: right;
    width: 815px;
    text-align: justify;
    word-break: break-all;
}

.text-2 {
    margin: 0 40px;
    word-break:keep-all;
}

.bottom {   
    margin-top: 51px;
    font-size: 1.75rem;
    width: 1281px;
    height: 70px;
    background-color: #B4B7BA;
    display: inline-table;
}
 
.bottom-td {

}

.ram {
    padding-left: 44px;
}

.co {
    padding-left: 170px;
}

.bottom-a {
     color: black;
}

.bottom-a:active {
    text-decoration: none;
}
.bottom-a:link {
    text-decoration: none;
}

.bottom-a:hover {
    text-decoration: #3181A6;
    color: #3181A6;
}
