html {
    font-size: 10px;
    font-family: Raleway;
    margin: 0 auto;
    max-width: 1920px;
}

header {
    background-color: #F8F4FC;
}

.header, .header__way, .footer {
    display: flex;
    padding: 1.5rem 15% 1rem 15%;
}

.logo__container {
    
    width: 22%; 
              
}

.logo {
    min-width: 10%;
    max-width: 100%;
    overflow: hidden;
    height: auto;
}

.nav__container {
    width: 33%;       
}

.nav__container > ul {
    margin: 0;
    padding: 0;
    height: 100%;
    align-items: center;
    color: #354657;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 1.6rem;
    font-weight: 700;
}

.nav__container a, .footer__ul__container a {
    text-decoration: none;
    color: #354657;
}

.icon__container {
    width: 45%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.icon__container div {
    margin: 0 2rem;
}

.header__way {
    color: #626262;
    font-size: 1.4rem;
    font-weight: 400;  
    padding-top: 0;    
}

.header__way div {
    padding-right: 2px;
}

.header__way a {
    color: #626262;
}

main {
    margin:10rem 15%;
}

.title {
    padding-bottom: 1.5rem;
    font-size: 3rem;
    font-weight: 700;
    color: #354657;
    border-bottom: 1px solid #E2E2E2;
}

.main__container {
    display: flex;
    padding-top: 4rem;
}

.left__section__container {
    width: 30%;
    display: grid;
    grid-row-gap: 5rem;
    padding: 3.5% 2%;
    background-color: #F0F2F5;
}

.left__section__container>div {
    display: flex;
    justify-content: space-between;
}

.circle1, .circle2 {
    border: 2px solid #D6D9DE;
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 3.5% 4%;
    border-radius: 30px;
}


.circle3 {
    border: 2px solid #D6D9DE;
    display: inline-block;
    padding: 4%;
    border-radius: 30px;
}

.text__type {
    font-size: 2rem;
    font-weight: 700;
    width: 75%;
}

.text__type>span {
    font-size: 1.6rem;
    font-weight: 400;
}


button {
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #946FD3;
    color: white;
    padding: 5% 23%;
    border-radius: 30px;
    font-size: 1.6rem;
    font-weight: 700;
    border: none;
}


.right__section__container {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

.footer {
    border-top: 1px solid #E2E2E2;
    align-items: center;
}

.footer__logo__container {
    width: 25%;
    display: flex;
}

.footer__ul__container {
    width: 45%;
    display: flex;
}

.footer__ul__container>ul {
    padding: 0;
    color: #354657;
    display: flex;
    list-style: none;
    font-size: 1.6rem;
    font-weight: 700;
    width: 40%;
    justify-content: space-between;
}

.links__container {
    width: 18%;
    display: flex;
    justify-content: space-evenly;
}

.terra__container {
    width: 12%;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
}