html {
    font-size: 10px;
    font-family: Raleway;
    margin: 0 auto;
    max-width: 1920px;
}

header {
    background-color: #F8F4FC;
}

.header, .header__way, .footer {
    display: flex;
    padding: 1.5rem 15% 1rem 15%;
}

.logo__container {
    
    width: 22%; 
              
}

.logo {
    min-width: 10%;
    max-width: 100%;
    overflow: hidden;
    height: auto;
}

.nav__container {
    width: 33%;       
}

.nav__container > ul {
    margin: 0;
    padding: 0;
    height: 100%;
    align-items: center;
    color: #354657;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 1.6rem;
    font-weight: 700;
}

.icon__container {
    width: 45%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.icon__container div {
    margin: 0 2rem;
}

.header__way {
    color: #626262;
    font-size: 1.4rem;
    font-weight: 400;  
    padding-top: 0;    
}

.header__way div {
    padding-right: 2px;
}

.header__way a {
    color: #626262;
}

main {
    margin:10rem 15%;
}

.title {
    padding-bottom: 1.5rem;
    font-size: 3rem;
    font-weight: 700;
    color: #354657;
    border-bottom: 1px solid #E2E2E2;
}

section {
    display: flex;
    justify-content: space-between;
}

table {
    border-spacing: 0;
}

.tables {
    padding: 2% 1% 0 0;
    width: 75%;
}

.menu {
    margin-top: 2%;
    color: #354657;
    font-weight: 700;
    font-size: 1.6rem;
    height: fit-content;
    background-color: #F0F2F5;
    width: 18%;
}

.menu>ul {
    padding-left: 0; 
    margin: 0;
}

.menu>ul>li {
    padding: 9%;
    list-style-type: none;
    border-bottom: 1px solid #E2E2E2;
}

li:hover {
    color: #C2C2C6;
}



.table__info, .table__item {
    color: #354657;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 400;
}

.table__info td {
    width: 50%;
    padding: 1%;
}

.big td{   
    background-color: #F0F2F5;   
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;    
}


.gap__top td {
    padding-top: 2%;
}

.gap__bottom td {
    padding-bottom: 2%;
}

td span {
    font-weight: 700;
}


.table__item td {
    padding: 1%;
}

.table__item .big :last-child {
    width: 40%;
    justify-content: flex-end;
    padding-left: 0;
}



.last>:first-child {
    padding-right: 7%;
}

.button__container {
    padding-right: 1rem;
    display: flex;
    margin: 0 0;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
    

    
}
.table__button {
    background-color: white;
    color: #946FD3;
    border: 1px solid #946FD3;
    border-radius: 20px;
    font-weight: 700;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    
}

.reset {
    margin-left: 1rem;
    padding: 0 0;
    border: white;
    
}


.last td {    
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.last__price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    
}

.last__price :first-child {
    text-align: end;
}

.table__total {
    background-color: #F0F2F5;
    width: 100%;
    font-size: 1.4rem;
    padding: 1%;
}


.table__total td {
    width: 50%;
    color: #354657;
    padding: 1%;
}

.table__total tr :first-child {
    text-transform: uppercase;
    text-align: end;
    font-weight: 700;
    width: 60%;
}

.reset__button {
    background-color: white;
    margin-top: 6rem;
    color: #946FD3;
    border: 1px solid #946FD3;
    border-radius:30px;
    font-weight: 700;
    padding: 1.5rem 7rem;
    font-size: 1.6rem;
}

.footer {
    border-top: 1px solid #E2E2E2;
    align-items: center;
}

.footer__logo__container {
    width: 25%;
    display: flex;
}

.footer__ul__container {
    width: 45%;
    display: flex;
}

.footer__ul__container>ul {
    padding: 0;
    color: #354657;
    display: flex;
    list-style: none;
    font-size: 1.6rem;
    font-weight: 700;
    width: 40%;
    justify-content: space-between;

}

.links__container {
    width: 18%;
    display: flex;
    justify-content: space-evenly;
}

.terra__container {
    width: 12%;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
}