html {
    font-size: 10px;
    font-family: Raleway;
    margin: 0 auto;
    max-width: 1920px;
    color: #354657;
}

header {
    background-color: #F8F4FC;
}

.header, .header__way, .footer {
    display: flex;
    padding: 1.5rem 15% 1.5rem 15%;
}

.logo__container {
    
    width: 22%; 
              
}

.logo {
    min-width: 10%;
    max-width: 100%;
    overflow: hidden;
    height: auto;
}

.nav__container {
    width: 33%;       
}

.nav__container > ul {
    margin: 0;
    padding: 0;
    height: 100%;
    align-items: center;
    color: #354657;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 1.6rem;
    font-weight: 700;
}

.icon__container {
    width: 45%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.icon__container div {
    margin: 0 2rem;
}

.header__way {
    color: #626262;
    font-size: 1.4rem;
    font-weight: 400;  
    padding-top: 0;    
}

.header__way div {
    padding-right: 2px;
}

.header__way a {
    color: #626262;
}

.main__container {
    margin: 0;
    padding: 0;
    display: flex;
    height: fit-content;

}

.left__section, .right__section {    
    width: 15%;
}

.left__section {
    padding-top: 40%;
}

.right__section {
    padding-top: 15%;
}

.right__section {
   display: flex;
   justify-content: flex-end;
}

.main__section__container {
    width: 70%;
}

.title__container {

    
    margin-top: 5.3%;
    padding-bottom: 1.4%;
    font-size: 3rem;
    font-weight: 700;
    border-bottom: 1px solid #E2E2E2;
}

.sort__container {
    text-align: right;
    padding-top: 3%;
    font-size: 1.6rem;
    font-weight: 700;
}

.sort {
    border: 2px solid #F2F2F2;
    font-weight: 400;
    color: #354657;
    margin-left: 1%;
    padding: .6% 4% .6% .5%;
}

.main__section {
    margin-top: 2%;
    display: flex;
   
}

.side__sort__container {
    height: fit-content;
    width: 18%;
    border: 3px solid #EEE8F8;
    padding: 1.5%;
}
 
.sort__title__container {
    display: flex;
    justify-content: space-between;
}

.sort__title {
    font-size: 2.4rem;
    font-weight: 700;
}

#reset__button {
    background-color: #946FD3;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    padding: 0 6px;
}


.sort1__type {
    padding-top: 8%;
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    font-weight: 700;

}

.click1{
    padding: 0 2%;
    font-size: 1.2rem;
    border: 1px solid #946FD3;
    border-radius: 2px;
    color: #946FD3;
}

.sub__menu {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 10%;
}

.sub__menu>input {
    margin-right: 5%;
    margin-top: 8.5%;
}


.wrapper {
    padding-bottom: 12%;
    padding-left: 2%;
    width: 78%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2.5%;
    grid-row-gap: 2.5%;
}

.wrapper>a {
    padding-top: 5%;
    border: 1px solid #E0E0E0;
    text-align: center;
    text-decoration: none;
    color: #354657;
    
}

.item__name {
    line-height: 2.5;
    font-size: 1.6rem;
    font-weight: 700;
    padding-bottom: 10%;  
}

a span {    
    font-weight: 400;  
}

.button__more__container {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}

.button__more {
    background-color: white;
    color: #946FD3;
    border: 1px solid #946FD3;
    border-radius: 50px;
    margin-top: 1%;
    padding: 1.3% 4%;
    
}

.footer {
    
    box-sizing: border-box;
    border-top: 1px solid #E2E2E2;
    align-items: center;
}

.footer__logo__container {
    width: 25%;
    display: flex;
}

.footer__ul__container {
    width: 45%;
    display: flex;
}

.footer__ul__container>ul {
    padding: 0;
    color: #354657;
    display: flex;
    list-style: none;
    font-size: 1.6rem;
    font-weight: 700;
    width: 40%;
    justify-content: space-between;

}

.links__container {
    width: 18%;
    display: flex;
    justify-content: space-evenly;
}

.terra__container {
    width: 12%;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
}