



body {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    min-width: 600px;
    max-width: 750px;
   font-family: Myriad Pro; 
   
}

.background {
    padding-top: 6.269%;
    padding-left: 4.935%;
    padding-bottom: 6.4%;    
    background-color: #2D7053;    
}

.circle {
    display: inline-block;
    border-radius: 100px;
    width: 20%;
    height: 142px;
    background-color: white
}
     
.text { 
    position: relative;   
    top: -5px;       
    line-height: 1.2;
    display: inline-block;    
    margin-left: 8.14%;         
    color: white;
    font-size: 1.875em;
}

.block1 {
    float: right;
    margin-top: 5.05%;
    margin-right: 6.315%;
}

.block {
    border-radius: 50px;
    margin-bottom: 15px;
    background-color:white;
    height: 13px;
    width: 85px;
}

.img-container {  
    position: relative;
    max-height: 470px;   
}

.zapis {
    text-align: center;
    bottom: 47px;
    position: absolute;
    left: 50%;
    margin-left: -22.8%; 
    width: 342px;
    height: 75px;
    background-color: #CB9223;
}

a {
    text-decoration: none;
}

.img{
width: 100%;

}

.zapis-text {    
    font-size: 1.5em;
    color: white;
    margin-top: 6.73%;
}

 .photo-container { 
    position: relative;     
}

.photo {
    max-height: 380px;
    border-radius: 150px;
    margin-top: 73px;
    margin-left: 5.88%;
    width: 247px;
    height: 247px;
    margin-bottom: 60px;
}

.bio-container {
    display: inline-block; 
    padding-bottom: 0;       
}

.name {
    font-size: 2.25em;
    position:relative;
    display: inline-block;
    /* /* top: -157px;  */
     margin-left: 75px; 
     margin-bottom: 145px;
}

.bio { 
    position: relative;
    margin-left: 75px;
    bottom: 130px;
    font-size: 1.5em;
}

.info {
    margin-left: 5.87%;
    margin-right: 15.47%;
    font-size: 1.5em;
}

.why {
    margin-top: 46px;
    margin-left: 44px;
    margin-bottom: 46px;
    font-size: 2.25em;
}

.list {
    font-size: 1.5em;
    margin-left: 44px;
    margin-bottom: 43px;
}

.zapis2 {
    width: 100%;
    box-sizing: content-box;
    position:relative;
    text-align: center;
    left: 50%;
    margin-left: -22.8%;
    margin-bottom: 49px;
    width: 342px;
    height: 75px;
    background-color: #CB9223;
}

.zapis-text2 {
    font-size: 1.5em;
    color: white;
    padding-top: 23px;
}

.bottom {
    background-color: #888888;
    width: 100%;
}

.circle2 {
    display: inline-block;
    margin-top: 29px;
    margin-left: 44px;
    margin-bottom: 28px;
    background-color: white;
    width: 97px;
    height: 97px;
    border-radius: 100px;
}

.location {
    position: relative;
    color: white;
    display: inline;
    font-size: 1.0625em;
    margin-left: 22%;
    bottom: 34px;
}

.t-m-container {
    margin-top: 57px;
    float: right;
    color: white;
    font-size: 1.125em;    
}

.tel {
    color: white;
    text-decoration: none;
    margin-right: 45px;
}

.mail{
    padding-top: 27px;
}

@font-face {
    font-family:"Myriad Pro";
    src: url(./Fonts/myriadpro-regular.ttf);
}





