html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    border-bottom: 1px solid #C4C4C4;
}

.header {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    padding: 1.5rem 0;
    

    .logo {
        width: 20%;
    }
    .search {
        width: 40%;
        font-size: 1.6rem;
        input {
            background: url(./img/mark.svg)no-repeat;
            background-position: top 1rem left 1rem;
            padding: 1rem 20rem 1rem 5rem;
            border: 2px solid #323232;
            border-radius: 5px;
        }
    }
    .btn__container {
        display: flex;
        width: 40%;
        justify-content: flex-end;
        button {
            font-size: 2rem;
            color: white;
            padding: 1.5rem 2.5rem;
            margin-left: 2.5rem;
            border-radius: 5px;
        }
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 0 0 0;
}

.rest__search {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
    span {
        font-size: 3.6rem;
        font-weight: 700;
        
    }
    input {
        font-size: 1.6rem;
        width: 40%;
        border: none;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 1rem 3rem;
    }
}
    
.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2.5rem;
    position: relative;
    .cards {
        width: fit-content;
        position: relative;
        height: 230px;
        .famous, .famous2 {
            position: absolute;
            background-color: #FF800C;
            color: white;
            top: 1rem;
            left: 1.5rem;
            font-size: 1.4rem;
            font-weight: 800;
            text-transform: uppercase;
            border-radius: 5px;
            padding: 1rem 2rem;
        }

        .famous2 {
            background-color: red;
        }
        .info__container {
            width: 100%;
            background-color: white;
            position: absolute;
            bottom: 0;
            font-size: 2.4rem;
            font-weight: 600;
            padding: .7rem 0 1rem 2rem;
            border-radius: 0px 0px 10px 10px;
            box-shadow: 0px 5px 5px grey;
            .icons {
                padding-top: .7rem;   
                span {
                    margin-right: 1rem;
                } 
            }
        }
    }
}

.cards:hover {
    background-color: rgba(0, 0, 0, .5);
    opacity: .5;
}

footer {
    background: linear-gradient(91.41deg, #323232 25.4%, #000000 75.33%);
}

.footer {
    margin-top: 10rem;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 10rem auto 0 auto;
    ul {
        color: white;
        font-size: 1.8rem;
        font-weight: 500;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        padding: 3rem 0;
        li {
            padding-right: 3rem;
        }
        a {
            text-decoration: none;
            color: white;
        }
    }
    .links {
        display: flex;
        width: 15%;
        justify-content: space-between;
        align-items: center;

    }
}











