html {
    font-family: Raleway;
    font-size: 10px;
}

body {
    max-width: 1920px;
    margin: 0 auto;
}



.slide__section {
    width: 1920px;
    height: 600px;
    background: url(./img/24x11-1600x733-daily-habits-nutrition-kit\ 1\ 1.png);
    
    
}

.container {
    padding: 8% 0 0 15%;
    font-size: 4.8rem;
    font-weight:900;
    color: white;
    animation: slide 1.5s cubic-bezier(0, 0, 0, 1.56);  
    position: relative;
}

@keyframes slide {
    from 
    {
        
        
        left: -700px;
    }

    to {
       
        
        left: 0;
    }   
}

.sub__container {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 3rem;
}

.btn__container {
    margin-top: 2%;
    font-size: 1.6rem;
    font-weight: 700;
    
}

@keyframes btn {
    from {
        background: white;
    }

    to {
        background: #946FD3;
    }
}

.btn__container > button {
    border: 0;
    padding: 1% 3%;
    background-color: #946FD3;
    border-radius: 50px;
    color: white;
    animation: btn 2s linear;
    position: relative;
}

.spin__section {
    width: 1920px;
    height: 600px;    
    display: flex;
    flex-direction: column;
    position: relative;
}

.left {
    height: 20%;
}

.main {
    background-color: #F0E5FF;
    height: 45%;
}

.img1__container {
    position: absolute;
    bottom: 150px;
    left: 400px;
    animation: spin1 4s infinite;
}

@keyframes spin1 {
    from {    
    }
    to {
        transform: rotateZ(360deg);
    }
}

.img2__container {
    position: absolute;
    bottom: 180px;
    left: 530px;
    animation: spin2 4s infinite;
}

@keyframes spin2 {
    from {    
    }
    to {
        transform: rotateZ(-360deg);
    }
}

.text__container {
    font-size: 3.8rem;
    font-weight: 700;
    color: #354657;
    padding: 1% 0 1% 50%;
    animation: opas 4s linear;
    position: relative;
}

@keyframes opas {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}

.text__container > span {
    font-size: 2.5rem;
    color: #946FD3;
    
}

.btn2__container {
    margin-top: 2%;
    font-size: 1.6rem;
    font-weight: 700;
    
}

.btn2__container > button {
    border: 0;
    padding: 2% 6%;
    background-color: #946FD3;
    border-radius: 50px;
    color: white;animation: btn 2s linear;
    position: relative;
}
