html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    border-bottom: 1px solid #C4C4C4;
}

.header {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    align-items: center;
    padding: 1.5rem 0;
    

    .logo {
        width: 20%;
    }
    .search {
        width: 40%;
        font-size: 1.6rem;
        input {
            padding: 1rem 20rem 1rem 3rem;
        }
    }
    .btn__container {
        display: flex;
        width: 40%;
        justify-content: flex-end;
        button {
            font-size: 2rem;
            color: white;
            padding: 1.5rem 2.5rem;
            margin-left: 2.5rem;
            border-radius: 5px;
        }
    }
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem 0 0 0;
}

.rest__search {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
    span {
        font-size: 3.6rem;
        font-weight: 700;
        
    }
    input {
        font-size: 1.6rem;
        width: 40%;
        border: none;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 1rem 3rem;
    }
}
    
.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}










