@font-face {
    font-family: oswald;
    src: url(./fonts/Oswald-Medium.ttf);
}

a:any-link {
    text-decoration: none;
    color: black;
}

.container-top {
    margin: 0 auto;
    height: 740px;
    width: 1900px;
    padding: 30px 405px 0 405px;
    box-sizing: border-box;
    background: url(./images/Rectangle.jpg) no-repeat;
} 
    
.logo {
    display: inline-block;
}

.menu {
    padding-top: 7px;
    width: 50px;
    height: 50px;
    background: #F7654A;
    float: right;
    color: white;
    text-align: center;
    font-size: 90px;
    line-height: .1;    
}

.title,.sub-title {
    text-align: center;
    font-family: oswald;
    color: white;
}

.title {
    font-size: 64px;
    line-height: 85px;
    margin-top: 95px;
}

.sub-title {
    font-size: 18px;
    margin-top: 40px;
}

.table {
    margin-top: 133px;
    height: 300px;
    background: #F7F7F7;
}

table {
    width: 100%;
}

.td-1 {
    box-sizing: border-box;
    padding-top: 57px;
    padding-left: 0;
    padding-right: 60px;
    font-family: oswald, sans-serif;
    font-size: 72px;
    color: #F7654A;
}

th:first-child {
    padding-left: 130px;
    padding-right: 40px;
}

.td-1:last-of-type {
    padding-right: 140px;
}

.td-2 {
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 36px;
    font-family: oswald;
}

.td-2:first-of-type {
    padding-left: 170px;
}

.td-2:last-of-type {
    padding-left: 0;
}

.td-3 {
    font-family: oswald;
    color: #999999;
    padding-left: 60px;
}

.td-3:first-of-type {
    padding-left: 190px;
}

.td-3:last-of-type {
    padding-left: 25px;
}

.text {
    width: 1090px;
    margin-top: 220px;
    margin-bottom: 80px;
    text-align: center;
    font-family: oswald;
    font-size: 36px;
}

.container-middle {
    margin: 0 auto;
    height: 870px;
    width: 1900px;
    padding: 0 405px 0 405px;
    box-sizing: border-box;
}

.img {
    display: flex;    
}

img {
    margin-right: 20px;
}

.line {
    margin-top: 45px;
    margin-bottom: 20px;
}

.line-2 {
    margin-left: 290px;
}

.line-2:last-of-type {
    margin-left: 290px;
}

.text-2 {
    font-family: oswald;
    font-size: 24px;
    display: flex;
    margin-right: 310px;
    margin-bottom: 10px;   
}


.text-2:last-child {
    margin-left: 5px;
}

.text-3 {
    margin-right: 15px;
    display: inline-block;
    text-align:justify;
    font-family: oswald;
    width: 350px;
    height: 83px;
}

.text-3:last-of-type {
    margin: 0 0;
}

.container-bottom {
    display: inline-block;
    box-sizing: border-box;
    margin: 20px auto 0 auto;
    width: 1900px;
    height: 180px;
    background: #F7654A;
    padding: 30px 405px 25px 405px;   
}

.info {
    display: inline-block;
    font-family: oswald;
    font-size: 24px;
    width: 600px;
    color: white;
}
.srp {    
    font-size: 50px;
}

.button {
    display: flex;
    padding-top: 15px;
    font-size: 14px;
    font-family: oswald;
    box-sizing: border-box;
    margin-top: 40px;
    float: right;
    width: 175px;
    height: 50px;
    background: white;
    text-align: center;
}

.button::before {
    content: url(./images/.jpg);
    padding-top: 2px;
    padding-left: 30px;
    padding-right: 20px;
    

}
